<h1><%= @product.name %></h1>

<%= render 'form' %>

<div class='btn-group'>
  <%= link_to 'Show', @product, class: 'btn btn-primary'%>
  <%= link_to 'Back', edit_product_path(@product), class: 'btn btn-default' %>
</div>
